{{!-- THIS FILE CREATES NEW BUTTONS TO WAKE UP OR DELETE THE CAT --}}
<li class='center burgerName'>
	{{burger_name}}

	<div class="buttonHolder valign-wrapper  ">

	<button class="change-if-eaten waves-effect waves-red btn-flat white center-align" data-id="{{id}}" data-newsleep="{{notEaten}}" >
		{{#if notEaten}}
		EAT IT!!
		{{else}}
		RESTOCK
		{{/if}}
	</button>
 
	<a class=" delete-burger waves-effect waves-light btn-small btn-flat white black-text center-align closeBtn " data-id="{{this.id}}"><i class="material-icons left">clear</i></a>

</div>
</li>

