{{!-- THIS FILE CREATES NEW BUTTONS TO WAKE UP OR DELETE THE CAT --}}
<li>
	{{burger_name}}

	<button class="change-if-eaten waves-effect waves-teal btn-flat white" data-id="{{id}}" data-newsleep="{{notEaten}}">
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newdevoured="{{devoured}}"> --}} 
		{{#if notEaten}}
		EAT IT!!
		{{else}}
		RESTOCK
		{{/if}}
	</button>

	{{!-- {{!-- <button class="delete-burger waves-effect waves-teal btn-flat white" data-id="{{this.id}}">DELETE! </button> --}}
	{{!-- <button class="delete-burger waves-effect waves-teal btn-flat white" data-id="{{this.id}}">DELETE! </button> --}} 
	<a class=" delete-burger waves-effect waves-light btn-small white black-text center-align closeBtn" data-id="{{this.id}}"><i class="material-icons left">clear</i></a>


</li>

